<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7Vnbbtw2EP0XPW8NksPrvuWKpkgTIwHSFIUf5F3ZVqPLQtLmgsD/3qM7SRuJ0xZNUHgf
	goQaDYcz55wZKp+TMuvSfdqlyfZzUqZtlzU/Z/nlVZdsJSOxmdZ+y/fdVbIlJuQmqZs8
	q7q0y+sq2bLrTXJRN2Xavcmadljim+T9+Pdn1UXdOz4/5sX+xbE8z5pkmwjx0PFkk6SH
	w/JOIplgJ1yeEB60u6usTF9l7/PxIdskhyLt+m1gmb98nWDTdP/nse1KRNIm2z8+3xJE
	VqXnRbZPtl1zzOA167q8umz7gNJD1nTHJku24sS44acEcS2sxJkvi7Rts/bXtOuyB0VR
	f1id7LNDdzUfa5ceeif7B1/0VqYf8/JYrkZcb5LXj18+fZVV+6xBSEvQZpMUxzJ9Uedt
	9nqXFjBmJ4xpJ7ggZrkixRlzqMFFusvGc++u8uptb2c4qqOVFk4Zo0n3zrKL7smn7Pf+
	sXbSkmPcaGuJjHXL4+FtbQ1TBhtIKTWZvvRNj4P1uSYmBUyMIaM5nld1O7o2jElsyqVx
	Vion4LqPanzGuTCWLKLGU+NWt9Orzva79R4tcdKj27dTxFzAM+PWaiW4vT7rsbY7tq+y
	XdcX4NO0g/N/OPeHfp3zYVtUYvizL8XHfl0K5y2TBVKuBntlmf8jgKzMq6h2JzTtomHP
	peDX/21M2C7fA/T5RT6Q6XEPyCcXF/3uMxOf+Qa7ujwB04rs5HBVdzWo841cOdRN16R5
	F6P+dFp/3TVZddkN8aoRmc/Tal+mzbsRoXPBh38MxyVlHGccWMULQ8I0MsO1ZFjpAxyt
	YKQYMOuZSUFEQBmZ1Q4o4cxhZTZSzALfgS+piHtetIxcOCFp2n82Eo7c+JrnBeUw1vPE
	mb0RjmBaoaBg1GLGhHDYg1vPjqySqLoM7MAEPsUGsNdHaO/z/NCuqeNOGzBQrscV3BnR
	8351LcByBTIZvvqGgAxbrUZSGQHG+/kVIvZkNEpDwjszKgA+mvAsAgLAebCfUAwsCbyh
	pSgtg1qA4MpGGVxKPNlwyfWIljUubZkO6sUFWggFfoToyTqtzmYUhc4dc9z41eKOj0A8
	i3odxOlTCh7/BKBr1Mo6JMdY6ySTi5qeN/WHtVxMqTBM7dAhbFQKZgwgK8NIEabQPAoW
	jQACrpSPGgOVECwAKtcxcRy6kZtP1XP0YX2s9uD4w/rjIlswASAQA5RekCaaZIuhL4CN
	DCcFIw3KM+kWoiBlLUrDhurbSbeQG2AG6GJWAhloKtfjri/XfD5D95tz5CShVtIyNBhG
	U397VFddfWy8ZDpHaAR+kvAm5HKA53p4j22TWcRjUIx4xNEY+IyzmJ78FkkQGrI84Xwy
	wyTjnB4UySeIYYYtwAeEGL8pQzIi9/JEB9xC09QUHtooTTIIA6kMLVxwXmnRfgJwjVOD
	t42WRJyNWJth88uxepdXWdsu5dMGmFagkUZynLJqoYJfOam1UiIQLjCITSte7YxwsSpC
	qXhMBOonlaDGmE/QkyMJ4FobGbtT0saQAQBJOR9Xbu4qni+Pu7OdtXzOuxecdbNiLXZi
	ye5qB80S2ii/oyir5Vy5s3EYWtMIXVfCRa2FE4YKFUaK9qdU0KkkzXrpnQdwE1b5cZIK
	dRZaiCk21EeCjFMkOFALRzYE4A0byxQPT0vyBpCxxMMWEcdEyGzU3CQBTJGZsKiNDaqq
	2SxUI6DLbJ+n1XPg2cuxBLYobvPr4bwjY1bzKI3a9VoYt0YBT1YZGcgRRtpJw78tg3dq
	2Yh2Fvu1o9mbwuVYqIDcShY3kjv12S+LG/KcV1U8xwgRj2235vhuZ7kh5pi+54i8KMkZ
	qcMthTURy++YF0KbgraEdsYHVy+Cp8dDXnjDmxS4K3EXDKNsxczZejsKxwjMbjiSDyHj
	ScF6RNzcdOAdQ4WJAQLdDMrVW1ljYmdqJvlsJPh03lmYHjVZ230/5szZipIMsErMKcHQ
	hbDmOax/LS2K0zqfvxz8qIPa5scs/pKL+57+N3r6Uq37K/DXr8BrKe8vvXdtxv/00rv6
	+V836FXF7u+U3+1O6VH3/l7zb91rVqn7PheZrw25qy5+dU5r6qIYsAk2knR4YpkhKI68
	PrveJC3mvuK2/6Vpw0/S8xfs8TP507zosuZFWuLSl0zfmN6IJP6wfhq8dMdv62fXfwE=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>26626</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-04-19T18:05:33Z</date>
</dict>
</plist>
