<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	PY6xDoIwEIbf5eaGtAUT6eikiyaa6GAcDlukhlLSHiyEd7eIcbt8/3/33QTOEGokBDWB
	w0gm7I19NQQq30jOfuxmNTWgRLlNyAdrOkKyvgPFZwa1Dw7pakL8IsFgXOdDV/vlcDXY
	Vh8HV5kACqTclQIYYN//d6DgkmeiyPIUxGdjHJ7NaNcwOfsWadGkpj1dIElRv4dILn0S
	Qd0f8wc=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentRenderTypes</key>
	<integer>26624</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-04-09T11:30:36Z</date>
</dict>
</plist>
