<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComputeSyncUploadPolicy.cachedResult</key>
	<false/>
	<key>ComputeSyncUploadPolicy.lastCheckedDate</key>
	<date>2025-05-17T23:34:23Z</date>
	<key>DuplicateSharedLibraryCPLConfigurationFeatureVersion</key>
	<integer>0</integer>
	<key>DuplicateSharedLibraryEnabledMarker</key>
	<true/>
	<key>Library</key>
	<dict>
		<key>CPL</key>
		<dict/>
	</dict>
	<key>MigrationAction</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>PLModelMigrationAction_AddMissingAdjustedMediaMetadata</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:50Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:50Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDateTimezone</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDateTimezoneFromCloudMaster</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDigitalZoomRatio</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeFocalLengthIn35mm</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeLocation</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeOrientation</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributes_2024</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:50Z</date>
			</dict>
			<key>PLModelMigrationAction_CinematicVideoPopulateDepthType</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_DrawAssetPersonEdges</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_FixDuplicateMergeCrashRecoveryAssets</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_FixExtendedAttributeDateCreated</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_PopulateExtendedAttributes</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_RebuildHighlights</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_ReevaluatePanoramaImageAssets</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveAllPurgeableClones</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveOrphanGeneratedAssetDescriptionNodes</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:50Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:50Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveOrphanedMediaAnalysisAttributes</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveOrphanedSceneprint</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_ResetTripHighlightEnrichmentVersion</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:50Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:50Z</date>
			</dict>
			<key>PLModelMigrationAction_RevalidateFaceAreaPoints</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_UpdateAssetAdjustmentsState</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_UpdateDayHighlightDateTitles</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:50Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:50Z</date>
			</dict>
			<key>PLModelMigrationAction_dedupeResourcesWithSimilarCompactUTI</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_setInitialIsDetectedScreenshotValue</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_setInitialIsRecentlySavedValue</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_setInitialhasPeopleSceneMidOrGreaterConfidenceValue</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
			<key>PLModelMigrationAction_updateACVideos</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-02-15T06:32:49Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-02-15T06:32:49Z</date>
			</dict>
		</dict>
		<key>ResumeMaker</key>
		<dict/>
	</dict>
	<key>PLDeferredCriticalMaintenanceTask</key>
	<date>2025-05-17T21:42:23Z</date>
</dict>
</plist>
