<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vVNNb9swDP0vOhuGLDux61uLtliBLS0SoDsMPTA2HWuTbEOi2w5B/vsoJ+lHUAzbpToI
	BkU+vkc+b4VFghoIRLkVFjyh+4J605IoM5mq6BD7rmtqRZlKlUWidxo7AtJ9J0q5i0TT
	Owt0j85PoSQSj/vvm67pA/B61KZejHaNTpRCqYuzREQChuGlRmRSyTjJ4pQffNWihSU+
	6v2jjMRggEIbztS3K8FNof45erLMxIvyx/YDEtjB2mAtSnIjMioS6W7jAyEY0NHoUJQq
	zs+mM1NpMldFxpo3BrxH/w2I8NyY/ukVpMaB2qOsCoYAUp//Fc3Cs7ajfU1K5pFYXd5e
	L7Gr0TGlF9J5JMxoYdFrj6sKDCfLWMpcylmiCpkXjDnPJWtroMKg+yFMvxr9EisKlH6H
	CjUr5NvD+U8hniRFWsjAbboDuecQ59nP8iRTxeHmeDvln+CkPHaruxM1cbqXnM85n+uT
	3edy4na6ZhvoRk/2ugwrumqa0P3ozZu3CVVvY/aewXhoe+rZTP/pnqF35EDTqQ/uDvEV
	Oew2NPGd7Xf1Fbragvs17YwZ+0Eb85HB/PvaY6u9nmtt+GdcgOW5ixXBBu+VONV/967k
	H0fwsPsD
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>26626</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-04-19T18:05:33Z</date>
</dict>
</plist>
