<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vVPBbtswDP0Xng1Dlp3E9a1FW6zAlhYJ0B2GHhibjrVJtiHRbYcg/z7Jbto0KIbtUhow
	DIp8fI963oEhxgoZodiBQcdkv5DaNgxFJlIZveS+q4obKFIhswg6q6hlZNW1UIh9BHVn
	DfI9WTemkggep++btu4C8GZQuloOZkMWCpDy4iyBCLDvX3sgE1LESRan/sCVDRlc0aOa
	DkUEvUYOY3ylul2DH4rVz8Gx8UwcFD92H5CgFjeaKijYDuRRiVm1WxcIYU+WB0tQyHhx
	NsZMpslc5pnXvNXoHLlvyEznWndPbyAV9dwcZJXYB5Dq/K9oBp+VGcxbUTKPYH15e72i
	tiLrKb2SXkSgB4PLTjlal6h9sYiFmOcTqBRykfvH99dYUtD9ELZfDm5FJQdKv0OHnOXi
	OPwunkI+SfI0F4Hb9PY4zyGfpvn8ODyNZqw/wUn92o1qT9TE6cRuMff1SSaT/edy8uNU
	5W2gajXa6zJc0VVdh+kHb94cF5Sdib33NMV903HnzfSf7uk7yxYVn/rg7iW/Zkvtlke+
	s+muvmJbGbS/xjvzjF2vtP7IYO5972HUpOdaaf8zLtH4vcOacUv3Ek71371r+ccVPOz/
	AA==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>26626</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-04-19T18:05:33Z</date>
</dict>
</plist>
