<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vVJNb9swDP0vPAuGPvwV3wq0w3pYCyTAdhh6YGw61iDZhkW3HYL890nN0mbDztOBEJ74
	+B4pHsETY4eM0BzBY2BaPpM9DAxNLo0Wv7FvtuMBGiN1LmBaLI2MbKcRGnkS0E+LR/5K
	S3iDlIDn8/1+7KdUeL9a1z2sfk8LNKD1nS40CMB5fidBLnWZKSkzpeJTaAfyuKVne36W
	AmaHnJRirn3cQdTF7sca2EczAZrvx3/4oBH3jjpoeFkpViVmOx5C8oQzLbwuFBvNCgEH
	hyFQ+ILMdOPc9PLB6mjm4dJKi3NidTd/0j2+Wr/6D1SVAna3j5+2NHa0RNF3W5UAt3p8
	mGygXYsuJstMylLXeaGMjEFqU1SbOFdsKXX2lEbcrmFLLScPPxMjL/Tm+kS9l4RrU9Vy
	U2hzjlUt4DXhhVG5rovqEqONIeFGVfL6lHGw3o5/dZOZs0pVqqKOJdTp/3qKcraLH217
	+7ZDt+lP7vo+qV8W8P46oZ18FvfLUTYPE09wejr9Ag==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>26626</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-05-12T12:35:11Z</date>
</dict>
</plist>
