<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vVJNb9swDP0vPBuG/KUkvnXohvWwFkiA7TD0wFh0rMGyDIluOwT576OSfm0YdpwECAL1
	+PgexSM4YjTICO0RHEam8JnsYWBom1VRZs+xb9bwAG1drusMfLA0MbL1E7TqlEHvg0P+
	SiGeQ0UGD5f7zdT7RLxf7GhuF7enAC2U5YdNARngPL/mQK1KlRd1XslD7AZyuKUHe3lU
	GcwjciojSHu3AymK5scS2YmSCO33419E0IT7kQy0HBYSVmK20yEmQThT4CUQtGW+2pxX
	U1aFFn/i+TBijBS/IDNdjaN/fCMxNPPwYqvDOZGYq3+yOXyybnFvoEJnsLu++7SlyVAQ
	Sa+iVxmMi8NbbyPtOhwFrHKldKOrWstuyo2uqkZIe+wo+b5P3e+WuKWOk6SfKaPUtXq/
	pBePKV4U62qtkrbLKTqeUlwnqfLd9fMp+OGMb9a/8VTSdmenP9zk1cXySgs+ZZ/+ryYp
	Z42Mge3tebyu0xd97PtU/WU2b94DOu9ymb2R8nnw7OF0f/oF
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>26626</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-04-19T18:05:33Z</date>
</dict>
</plist>
