<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	tVJNa+QwDP0vOodgO5NMJrdCW7aHbWEG2sPSgyZWJi5xEmKlHwzz3ytPth8sy97WB2Ok
	p6cnPx3BE6NFRqiO4DEwTT/IHVqGamXKVfI79uAst1Dla20SGCZHPSO7oYdKnRJohskj
	39MUziGdwPPyvumbIRLvZ9fZ29nvaYIKjLkyuYEEcBw/i2ClTJFqpVKtJRXqljxu6dkt
	aZXA2CHHToJ1dzuQvmif5sBexASofh3/ooN63HdkoeJpJmElZtcfQtSEI008TwSVSdeb
	88lNpguZWmY8dBgChZ/ITBddN7x8kVgauf2YrMYxktiLf7J5fHV+9l8gXSSwu7y73lJv
	aRJJn6LXCXSzx9vBBdrV2AlYpUoVG6NNpkqdZ7l80kacabCmOPdjNKCew5ZqjpLeYkUm
	PC/xoXWZlSqKWW5p/BrjZlOWYqeYvNxlAu0Zn5fq+8nkn73r/5CfZsuM60LwUq5P/1mE
	8DsrRrvGnXfoMppw1TSx3ccC3nwH1INPZb86Ssd24AFOj6d3
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>26626</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-05-12T12:35:11Z</date>
</dict>
</plist>
