<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	nVLLbtswEPwXngWBkkiT1C01UDeXtKiL5FD0sJYoiy0fArXKxfC/l3okdYsUKKoTd7ic
	nZ3RhTiN0AICqS/EwYg6ftDm3COpK86zDXoyLfYJYbuMhGi0R0ATPKmLa0a6EB3go47j
	CmXkeT3f+y7MtKfJ2PZhcicdSU3K8r0sSUZgGF7fEM6LnOYFo+libHrt4LN+Nuslzchg
	AecxqdNB8/FI0lhov08juqRlJPXXyxsytIeT1S2pMU468WpE48/jLCl0XSq/BK8X/rU8
	RDD+pj5i1P48L/4KPegJI9gDOAcLDBOmHTuwY5pg/DDhOwvNjzvfPvUGZ/ZczB8rk3mq
	kkLsqiTetEm36cziyNFB/OPZi6v3t31NcHlyzep86EMae83+a+sj4BS3/Ogmeh9siItY
	ySVVikklFFeFkIlhDntE0ywcI+AnHZtZltVKzm8UKwqxY4JRxSpFpcjmrrvkzCPYafGA
	cinLipdcUb6jqqiK7Hcmwf/O9KvrsA0sKlFypnhVydSn2PUln336XW/i2gef4tqgm6je
	TGD14N+c/3b9CQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentRenderTypes</key>
	<integer>16384</integer>
	<key>adjustmentTimestamp</key>
	<date>2024-06-11T17:00:58Z</date>
</dict>
</plist>
