<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vVLNbtswDH4Xng1Dkm3F8a1AO6yHtUACbIehB8amYw2WbVh02yHIu49KkzYohh3HgyBQ
	1PdD8gCeGBtkhOoAHgPT/JXcvmOoclPmyTn3wzXcQVWstElgnB0NjOzGASp1TKAdZ4/8
	neZwSukEnt/u90M7RuDd4vrmYfE7mqECY+5MYSABnKb3T5ArY1OtVKq1PIW6I48benZv
	zyqBqUeOTFLrHrcgvNj8WgJ7EROg+nn4iw4acNdTAxXPCwkqMbthH6ImnGjmZSaoTLpa
	n6IwmbbiWjzuewyBwjdkppu+H18+QBqauLs4q3GKIM3NP9E8vjq/+I8ibRPY3j5+2dDQ
	0CyS3kWvEugXjw+jC7StsZdilSpl7Sor82JtSsHMMptJ17Gm6PspDqBewoZqjpJ+xx+5
	NevrENiXmNeZisLKyyk6XmPe5IXMW+Z7PqV33aneWnUdubTdu+GTmzQ7s1hdlAKhj/9X
	k9C5RtbAte60YbdxRHdtG9kv63l/XVCPPpXt6ymdupFHOD4d/wA=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>26626</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-05-12T12:35:11Z</date>
</dict>
</plist>
