<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>algorithm</key>
	<integer>1</integer>
	<key>algorithmData</key>
	<dict>
		<key>normalizer</key>
		<real>10</real>
		<key>peopleFeatures</key>
		<dict/>
		<key>sceneFeatures</key>
		<dict>
			<key>1006</key>
			<real>0.5</real>
			<key>1017</key>
			<real>0.5</real>
			<key>1132</key>
			<real>0.5</real>
			<key>1208</key>
			<real>0.5</real>
			<key>1222</key>
			<real>1</real>
			<key>1263</key>
			<real>0.5</real>
			<key>1414</key>
			<real>0.5</real>
			<key>1447</key>
			<real>0.5</real>
			<key>1469</key>
			<real>0.5</real>
			<key>1470</key>
			<real>0.5</real>
			<key>1499</key>
			<real>0.5</real>
			<key>1731</key>
			<real>0.5</real>
			<key>1737</key>
			<real>0.5</real>
			<key>1739</key>
			<real>0.5</real>
			<key>1761</key>
			<real>0.5</real>
			<key>1773</key>
			<real>0.5</real>
			<key>2147483655</key>
			<real>1</real>
			<key>229</key>
			<real>1</real>
			<key>23</key>
			<real>0.5</real>
			<key>234</key>
			<real>0.5</real>
			<key>491</key>
			<real>0.5</real>
			<key>546</key>
			<real>0.5</real>
			<key>784</key>
			<real>0.5</real>
			<key>825</key>
			<real>0.5</real>
			<key>848</key>
			<real>0.5</real>
			<key>881</key>
			<real>0.5</real>
			<key>963</key>
			<real>0.5</real>
			<key>989</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>date</key>
	<string>2025-05-11 21:31:12 +0000</string>
	<key>goldAssetUUIDs</key>
	<array>
		<string>6A127EF7-2044-4907-8B00-793302195343</string>
		<string>55ED827A-EF3F-440F-B63F-39A16A350BA7</string>
	</array>
	<key>version</key>
	<integer>10</integer>
</dict>
</plist>
