<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vVPBbtswDP0Xng1Dlh3H8a1FV6zAlhYJ0B2GHhibjrVJtiHRbYcg/z7Jado0KIbtMh4E
	g3wkH8nnHRhirJERyh0YdEz2M6lty1BmIpXRi++bqrmFMhUyi6C3ijpGVn0HpdhH0PTW
	IN+TdZMrieDx8H3TNX0ovBmVrpej2ZCFEqS8XCQQAQ7Daw5kQoo4yeLUB1zVksEVPapD
	UEQwaOTQxiPV7Rp8U6x/jI6NZ+Kg/L77gAR1uNFUQ8l2JF+VmFW3dYEQDmR5tASljOeL
	yWYyTXJZZH7mrUbnyH1FZrrQun96K1LTwO1xrAqHUKS++GM1g8/KjOYNlOQRrK9ur1fU
	1WQ9pVfS8wj0aHDZK0frCrUHi1iIfJ4ms7SY5fN8IUWW+Bs0WFGY+yFsvxrdiioOlH6F
	jFzki1MrIngK/iQp0kIEbofX83gO/lQu5GnA02gn/KwQp5b6tRvVnU0Tp4cu89zjk0wm
	+//LybdTtZeBatQkr6twok9NE7oftXlzCqh6E3vtaYqHtufei+kf1TP0li0qPtfB3Yt/
	zZa6LU98Z4dbfcGuNmh/TjfzjN2gtP5IYO597rHVYZ5rpf3PuETj9w5rxi3dSzif/+5d
	yl+u4GH/Gw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>26626</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-04-19T18:05:33Z</date>
</dict>
</plist>
