<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	pZA/b4NADMW/i2eEIEmHsiVZmqF/1EjpUHUwnAFX3B06DGqF8t1rSBpVUYdK3c5+fn4/
	3wiWBA0KQjaCxU4o3BFXtUCWROfGCxup59oHJico7J3WxwhKHyzKgUI3t9IIhtN750o/
	rcx7bsxDb3MKkMFisblNIQJs24sHVskiidNVvFShK2qy+EwDn0TNbBuUKUYn+XEPGorm
	ve/EKkkH2ev4CwQ5zBsykEnoSbeSCLuqm4CuJMPY+OqePzaMqifxTQSBnKGghr18NqS5
	g+eCpmQ2Gsolz8ds2SmrcLHuDXv4/ozdz5nC21iPbShuay9ed/wP94J2tq9li630QSmX
	13xPPkhAloN2/4r3dvwC
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.12</string>
	<key>adjustmentRenderTypes</key>
	<integer>24704</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-05-02T11:50:03Z</date>
</dict>
</plist>
