<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	pZA/a8NADMW/i2ZjbLfp4C0NhWboHxpIh9JB9sm2iu/OnGXTYvLdKydpKKFDIdtJT0/v
	p5vAkqBBQcgnsNgLhXviuhHIk+jYeGUjzb72gckJCnun9S6CygeLsqXQ71tpBOPhvXaV
	n1cWA7fmcbAFBcghy+6yRQYRYNedTHCdZDdxmiRxmqrUlw1ZfKGRD7LGdi3KnKSz/LQB
	zUXzMfRiFaaH/G36g4McFi0ZyCUMpFtJhF3dz0xnkmFsff3An7eMqifxIoJAzlBQw0a+
	WtLc0XNJczIbDeWK9/es2CmrcLkcDHv4+Y/175nS21jPbSnuGi9ed1yGe0I72peywk6G
	oJRX53zPPkhAlq12/4v3vvsG
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.12</string>
	<key>adjustmentRenderTypes</key>
	<integer>24704</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-05-12T12:35:11Z</date>
</dict>
</plist>
