@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

.content{
    --header-height: 160px;
    --footer-height:120px;
    --offset: calc(var(--footer-height) + var(--header-height));
    min-height: calc(100vh - var(--offset));
    display:flex;
    justify-content: center;
    align-items: center;
  }