<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	vVNNb9swDP0vPBuG/BV/3Fp0xQpsaZEA62HogbGZWJtkGxLddgjy3yfZTZsGxbBdxoNg
	UI/k49PzHjQxNsgI1R40WibzmeSuZahSkcTBS+5eNtxClYg4DaA3kjpGln0HlTgEsO2N
	Rv5Gxk6pKIDH+fum2/a+8WaUqlmOekMGKojjyzKCAHAYXmsgFbEIozRM3IWtW9K4okc5
	X4oABoXsxzikvF2DG4rNj9GydkwsVN/3H5CgDjeKGqjYjOS6ErPsdtYTwoEMj4agisO8
	nCKLk2gRF6nbeafQWrJfkZkulOqf3po0NHB7XKvGwTdpLv7YTeOz1KN+A0WLANZXt9cr
	6hoyjtIr6TwANWpc9tLSukblwCIUYpHnZVZkaVm6pmmWlE5yrMnv/eDVr0e7opo9pV++
	Is2j8jSKAJ58PoqKpBCe23w6Hs8+n4k8OY0A2gmeFeI0Eqe6lt3ZMmEyD8kXDh+lcXT4
	r5TcNNk4E8itnMx15R/o03brhx+deXMKqHsdOucpCoe2595Z6R+9M/SGDUo+d8HdS37N
	hrodT3yz+aW+YNdoND+nF3OM7SCV+she9n3tcdS8z7VU7ldconayw5pxR/etZIJzCe7e
	Vf2lCg+H3w==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.11</string>
	<key>adjustmentRenderTypes</key>
	<integer>26626</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-04-19T18:05:33Z</date>
</dict>
</plist>
